In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import column, Integer, String, Float
import pandas as pd

In [7]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [8]:
# reflect an existing database into a new model
Base=automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [9]:
# View all of the classes that automap found
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [27]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [28]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [36]:
# Use the session to query Station table and display the first 5 locations
for row in session.query(Measurement, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.measurement object at 0x000002369DD10D00>, 'USC00519397', '2010-01-01', 0.08, 65.0)
(<sqlalchemy.ext.automap.measurement object at 0x000002369DD10EE0>, 'USC00519397', '2010-01-02', 0.0, 63.0)
(<sqlalchemy.ext.automap.measurement object at 0x000002369DD10E50>, 'USC00519397', '2010-01-03', 0.0, 74.0)
(<sqlalchemy.ext.automap.measurement object at 0x000002369DD10F10>, 'USC00519397', '2010-01-04', 0.0, 76.0)
(<sqlalchemy.ext.automap.measurement object at 0x000002369DD10FA0>, 'USC00519397', '2010-01-06', None, 73.0)

In [37]:
# Use the session to query Measurement table and display the first 5 locations
for row in session.query(Station, Station.station, Station.name, Station.latitude, Station.longitude, Station.elevation ).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.station object at 0x000002369DD2C6D0>, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(<sqlalchemy.ext.automap.station object at 0x000002369DD2C670>, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(<sqlalchemy.ext.automap.station object at 0x000002369DD2C7C0>, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(<sqlalchemy.ext.automap.station object at 0x000002369DD2C850>, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(<sqlalchemy.ext.automap.station object at 0x000002369DD2C8E0>, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)

# Exploratory Precipitation Analysis

In [ ]:
# Find the most recent date in the data set.

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()